{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error",
            {
                "endOfLine": "auto",
                "printWidth": 80,
                "tabWidth": 2,
                "semi": true,
                "singleQuote": true
            }
        ],
        "linebreak-style": ["error", "windows"]
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
      }
  }